body {
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(189, 46, 46);
color:bisque;
}

header{
    background-color: rgb(189, 46, 46);
}

.column_container{
    margin:auto;
    width: 50%;
}

header {
  .column_container{
    padding: 100px 0 67px 0;
    text-align:center;   
    border-bottom-style: dotted;
    border-width: thick;
    border-color:antiquewhite;
    
}  
img{
    width: 50%;
}
p{
    margin-top: 43px;
}
h1{
    color:antiquewhite;
    font-size: 80px;
}
}

.ingredients{
   /*background-color: antiquewhite;*/
   .column_container{
    padding-top: 70px;
    padding-bottom: 21px;
    h2{
        font-size: 60 px;
        color:antiquewhite;
        text-align: center;
    }
    h3{
        color:antiquewhite;
        opacity:.85;
    }
    p{
        margin: 40px;
    }
    ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    li{
        display:flex;
        width:33%;
        margin:0 10 0 10;
        text-align: center;
    }
   
    } 
    .images{
        margin: auto;
        text-align: center;
    }
   }
}

.instructions{
    h2{
        font-size: 60 px;
        color:antiquewhite;
        text-align: center;
    }
    li{
        margin-bottom: 20px;
    }
}


